<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="noindex, follow">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/estilos.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Descripción</title>
</head>

<body>
  <div class="container-fluid bg-success">
<div class="contariner"  >
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="Index.html">Ruta del casique</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="TurismoN.html">Turismo de naturalza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="TurismoC.html">Turismo de cultura</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Hospedaje.html">Hospedajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Restaurate.html">Restaurantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="OtroS.html">Otros servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Ruta.html">Ruta turistica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Index.html"><img class="margen1" src="../image/jarronlogo.jpg" alt=""></a>
          </li>
      </div>
    </div>
  </nav>
</div>
</div>



<div class="container">
<div class="card mb-3" style="max-width: 1020px; margin-top: 50px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../image/TurismoN/casique3.jpg" class="img-flui" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Laguna el casique</h5>
        <p class="card-text">El atractivo natural de la laguna del cacique es uno de los 
          lugares más visitados por los turistas, se encuentra ubicado a más de 2.900 mts 
          sobre el nivel del mar, está rodeada por terrenos inclinados bastante húmedos que 
          poseen vegetación propia de paramo donde se puede disfrutar de actividades de 
          senderismo alrededor de la laguna, canotaje, cabalgatas, avistamiento de aves,
           observar vegetación propia de paramo y se resalta la presencia de frailejones</p>
        <div>
          <a class="btn btn-primary" href="https://www.google.com/maps/place/Laguna+el+cacique+cacota/@7.2860069,-72.6383438,1420m/data=!3m1!1e3!4m12!1m6!3m5!1s0x8e6887a5c7d96749:0xc8aedcf53f2e0c1!2sLaguna+de+Cacota!8m2!3d7.2874232!4d-72.6373328!3m4!1s0x0:0x9c07b7593214ac80!8m2!3d7.2897383!4d-72.636785" role="button">Ir</a>
          <a class="btn btn-primary" href="TurismoN.html" role="button">Volver</a>
      </div>
        
    </div>
  </div>
</div>
</div>
</div>

<footer>
  <section id="footer">
      <img class="margen2"  src="../image/jarronlogo.jpg" align=left >
      <div class="mover2" >
      <h3 class="color">Visitanos</h3>
      <a href="" target=""><h4 class="color" >Instagram</h4></a>
      <a href="" target=""><h4 class="color">Whatsaap</h4></a>
      <a href="" target=""><h4 class="color">Tiktok</h4></a>
      <a href="" target=""><h4 class="color">facebook</h4></a>
      <p class="color">Todos los derechos reservados © Visitando Cácota 2023</p>
      </div>
  </section>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
