<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="noindex, follow">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/estilos.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>Hospedajes</title>
</head>

<body>
  <div class="container-fluid bg-success">
<div class="contariner"  >
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="Index.html">Ruta del casique</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="TurismoN.html">Turismo de naturalza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="TurismoC.html">Turismo de cultura</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Hospedaje.html">Hospedajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Restaurate.html">Restaurantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="OtroS.html">Otros servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Ruta.html">Ruta turistica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Index.html"><img class="margen1" src="../image/jarronlogo.jpg" alt=""></a>
          </li>
      </div>
    </div>
  </nav>
</div>
</div>

<div class="row mt-5">
    <div class="col-4">
      <div class="card" style="width: 15rem; left: 70px;">
        <img src="../image/hostales/hostal1.jpeg" class="card-img-top" style="height: 160px; alt="...">
        <div class="card-body">
          <h5 class="card-title">Hostal y Restaurante Vera</h5>
          <p class="card-text">
            Dirección: Cra 4 #3-58 barrio La esperanza
            
            <p class="card-text">WhatsApp: 3229260549</p>
           <a class="card-text" href="https://www.facebook.com/profile.php?id=100065164626963 ">Facebook: Hostal VERA</a>
          </p>
          <a href="https://www.google.com/maps/place/Hostal+Vera/@7.268363,-72.6430656,15z/data=!4m2!3m1!1s0x0:0x5ab845be68242b99?sa=X&ved=2ahUKEwjYv5HZgO78AhVvjbAFHUjCCkgQ_BJ6BAhBEAg" class="btn btn-primary">Ir</a>
        </div>
      </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 15rem; left: 30px;">
            <img src="../image/hostales/hostalcasona1.jpeg" class="card-img-top" style="height: 132px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hotel la Casona</h5>
              <p class="card-text">
                Dirección: Cra 3 #1-52 barrio Calle Real
                <p class="card-text">WhatsApp: 3142687148</p>
              </p>
              <a href="https://www.google.com/maps/place/Hotel+La+Casona/@7.2667914,-72.6419175,15z/data=!4m5!3m4!1s0x0:0x6d53cf7acfe02ff1!8m2!3d7.2667905!4d-72.6419234" class="btn btn-primary">Ir</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 15rem; ">
            <img src="../image/hostales/Hospedaje1.jpeg" class="card-img-top" style="height: 150px; alt="...">
            <div class="card-body">
              <h5 class="card-title">Hospedaje y Restaurante mi tierra linda</h5>
              <p class="card-text">
                Dirección: Calle 3 #2-35 barrio el centro
                <p class="card-text">WhatsApp: 3213539530</p>
               <a class="card-text" href="https://www.instagram.com/posadarestaurantmitierralinda/?hl=es">Instagram: @posadarestaurantmitierralinda</a>
              </p>
              <a href="https://www.google.com/maps/place/RESTAURANTE+MI+TIERRA+LINDA/@7.2680943,-72.641724,15z/data=!4m2!3m1!1s0x0:0x1117937269555aea?sa=X&ved=2ahUKEwjVrNa0g-78AhVBRDABHZvmDlcQ_BJ6BAhTEAg" class="btn btn-primary">Ir</a>
            </div>
          </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-4">
        <div class="card" style="width: 15rem; left: 70px;">
            <img src="../image/hostales/posada1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Posada turística mi Ranchito</h5>
              <p class="card-text">
                Dirección: Están ubicados en el Barrio el centro
                <p class="card-text">WhatsApp: 3132252946</p>
              </p>
              <a href="https://www.google.com/maps/place/Posada+turistica+Mi+Ranchito/@7.2688699,-72.6416944,15z/data=!4m5!3m4!1s0x0:0xcd5e328100ec164e!8m2!3d7.2688445!4d-72.6417406" class="btn btn-primary">Ir</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 15rem; left: 30px;">
            <img src="../image/hostales/Hostalcacotño1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hostal Paraíso Cacoteño</h5>
              <p class="card-text">
                Dirección: Cra 2#3-34 barrio el centro
                <p class="card-text">WhatsApp: 3214872967</p>
               <a class="card-text" href="https://www.facebook.com/profile.php?id=100077670514403">Facebook: Hostal Paraiso Cacoteño</a>
              </p>
              <a href="https://www.google.com/maps/place/hostal+paraiso+cacote%C3%B1o/@7.2688272,-72.6417339,15z/data=!4m5!3m4!1s0x0:0x58836b594322aa9!8m2!3d7.2688272!4d-72.6417339" class="btn btn-primary">Ir</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 15rem; ">
            <img src="../image/hostales/HostalLoma1.jpeg" class="card-img-top" style="height: 132px; alt="...">
            <div class="card-body">
              <h5 class="card-title">Hostal casa Loma</h5>
              <p class="card-text">
                Dirección: Carrera3 N 1_03 calle real
                <p class="card-text">WhatsApp: 3208979150</p>
               <a class="card-text" href="https://www.facebook.com/profile.php?id=100065495859476">Facebook: Hostal Casa Loma Cácota</a>
               <p>
               <a lass="card-text" href="https://www.instagram.com/hostalcasalomacacota/?hl=es">Instagram: @hostalcasalomacacota</a>
               </p>
              </p>
              <a href="https://www.google.com/maps/place/Hostal+CasaLoma/@7.265339,-72.6427888,16.58z/data=!4m5!3m4!1s0x8e6889c47a39297f:0xe7057c7124469cf3!8m2!3d7.2663186!4d-72.641883" class="btn btn-primary">Ir</a>
            </div>
          </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-4">
        <div class="card" style="width: 15rem; left: 70px;">
            <img src="../image/hostales/PosadaTerraza1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Posada la terraza</h5>
              <p class="card-text">
                Dirección: Cra2#2-54 barrio el Calvario
                <p class="card-text">WhatsApp: 3142254668</p>
               <a class="card-text" href="https://www.facebook.com/Anateresaisidro/">Facebook: Posada la terraza</a>
              </p>
              <a href="https://www.google.com/maps/place/Cerveza+Artesanal+Alfarera/@7.2676671,-72.6453956,17z/data=!3m1!4b1!4m5!3m4!1s0x8e6889f64b28fffd:0xc29012999adbb5e!8m2!3d7.2676614!4d-72.6411695?hl=es" class="btn btn-primary">Ir</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 15rem; left: 30px;">
            <img src="../image/hostales/posadafyf1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Posada turística tipo cabaña F&F</h5>
              <p class="card-text">
                Dirección: Calle 2 No 2-70 Barrio Calle Real
                <p class="card-text">WhatsApp: 3144679014</p>
               <a class="card-text" href="https://www.facebook.com/profile.php?id=100075881665336">Facebook: Posada Turística F&F</a>
              </p>
              <a href="https://www.google.com/maps/place/Posada+turistica+f%26f/@7.2673632,-72.6412038,15z/data=!4m5!3m4!1s0x0:0x2f8303df9f503407!8m2!3d7.2673951!4d-72.6412221" class="btn btn-primary">Ir</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 15rem; ">
            <img src="../image/hostales/Posadaorquidea1.jpeg" class="card-img-top" style="height: 132px; alt="...">
            <div class="card-body">
              <h5 class="card-title">Posada turística la orquídea</h5>
              <p class="card-text">
                Dirección: Cra 3#1-45 barrio Calle Real
                <p class="card-text">WhatsApp: 3126515291 - 3227473245</p>
               <a class="card-text" href="https://www.facebook.com/profile.php?id=100063673175934">Facebook: Posada Turística la Orquídea</a>
               <p>
               <a lass="card-text" href="https://www.instagram.com/posadaturisticala/?hl=es">Instagram: @posadaturisticala</a>
               </p>
              </p>
              <a href="https://www.google.com/maps/place/Posada+Tur%C3%ADstica+la+Orqu%C3%ADdea/@7.2667914,-72.6441053,17z/data=!3m1!4b1!4m5!3m4!1s0x8e68897798a27eb5:0xc614f0d7aba43d36!8m2!3d7.2667853!4d-72.6419224" class="btn btn-primary">Ir</a>
            </div>
          </div>
    </div>
</div>
<div class="row mt-5">
  <div class="col-4">
      <div class="card" style="width: 15rem; left: 70px;">
          <img src="../image/hostales/cabaña1.jpeg" class="card-img-top"  alt="...">
          <div class="card-body">
            <h5 class="card-title">Cabañas el mirador</h5>
            <p class="card-text">
              Dirección: Cl. 1 #2-149 a 2-1, ubicada en el barrio el calvario
              <p class="card-text">WhatsApp: 3105773083</p>
             <a class="card-text" href="https://www.instagram.com/cabana.elmirador/?hl=es">Instagram: @cabana.elmirador</a>
            </p>
            <a href="https://www.google.com/maps/place/Caba%C3%B1a+%22El+Mirador%22/@7.2668121,-72.6408176,15z/data=!4m5!3m4!1s0x0:0xd11d34a74ab256f7!8m2!3d7.2668123!4d-72.6408177" class="btn btn-primary">Ir</a>
          </div>
        </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 15rem; left: 70px; margin-left: -32px;">
        <img src="../image/hostales/cabañaema1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cabañas y Glamping Emanuel</h5>
          <p class="card-text">
            Dirección: Están ubicados en la vereda Fontibón a 10 aproximadamente del Municipio
            <p class="card-text">WhatsApp: 3212174286</p>
           <a class="card-text" href="https://www.instagram.com/emmannuel_08/?hl=es">Instagram: @emmannuel_08</a>
          </p>
          <a href="https://www.google.com/maps/place/Caba%C3%B1as+Tur%C3%ADsticas+y+Artesan%C3%ADas+Emmanuel/@7.2744303,-72.6806308,14z/data=!4m9!1m2!2m1!1sCaba%C3%B1as+y+Glamping+Emanuel!3m5!1s0x8e688625fb81d277:0x8c6f0c78f1f54873!8m2!3d7.2744329!4d-72.6501132!15sChtDYWJhw7FhcyB5IEdsYW1waW5nIEVtYW51ZWySAQVob3RlbOABAA" class="btn btn-primary">Ir</a>
        </div>
      </div>
</div>
<div class="col-4">
  <div class="card" style="width: 15rem; left: 70px; margin-left: -72px;">
      <img src="../image/hostales/Hotelcolonial1.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hotel Colonial</h5>
        <p class="card-text">
          Dirección: Cl. 5 #1-64, Cácota
          <p class="card-text">WhatsApp: 3212230982</p>
        </p>
        <a href="https://www.google.com/maps/place/Hotel+colonial+y+restaurante+brisas+del+lago/@7.2699404,-72.6419389,15z/data=!4m2!3m1!1s0x0:0xc598741756672c65?sa=X&ved=2ahUKEwiR1Nbnje78AhU6QjABHbPRAL4Q_BJ6BAhaEAg" class="btn btn-primary">Ir</a>
      </div>
    </div>
</div>
</div>
<footer>
  <section id="footer">
      <img class="margen2"  src="../image/jarronlogo.jpg" align=left >
      <div class="mover2" >
      <h3 class="color">Visitanos</h3>
      <a href="" target=""><h4 class="color" >Instagram</h4></a>
      <a href="" target=""><h4 class="color">Whatsaap</h4></a>
      <a href="" target=""><h4 class="color">Tiktok</h4></a>
      <a href="" target=""><h4 class="color">facebook</h4></a>
      <p class="color">Todos los derechos reservados © Visitando Cácota 2023</p>
      </div>
  </section>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>