<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="noindex, follow">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/estilos.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <title>Ruta del casique</title>
</head>

<body>
  <div class="container-fluid bg-success">
<div class="contariner"  >
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="Index.html">Ruta del casique</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="TurismoN.html">Turismo de naturalza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="TurismoC.html">Turismo de cultura</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Hospedaje.html">Hospedajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Restaurate.html">Restaurantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="OtroS.html">Otros servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Ruta.html">Ruta turistica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Index.html"><img class="margen1" src="../image/jarronlogo.jpg" alt=""></a>
          </li>
      </div>
    </div>
  </nav>
</div>
</div>


  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../image/parque.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../image/montañas.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img  src="../image/parque2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="container">
  <h1 class="mover">Cácota</h1>
  <h3>Cácota es un tranquilo y artesanal municipio ubicado al sur-occidente de Norte de Santander. 
    El pueblo que tiene aproximadamente 2.500 habitantes es un ejemplo claro de lo que puede lograr 
    una comunidad cuando trabaja bajo un solo objetivo; y es que el municipio se conserva 
    fabulosamente gracias al amor de los cacoteños por su pueblo; han logrado que el municipio 
    sea un genial viaje al pasado donde cada detalle juega un papel fundamental para hacer de 
    este lugar algo mágico. Ir por sus calles es como caminar en otro tiempo, y sus materitos en 
    cada casa son un mensaje de armonía entre sus costumbres y la naturaleza. Su plaza decorada 
    con jardines, esculturas de barro y super-moyas gigantes, es una muestra de lo orgullosos que 
    son de sus tradiciones, y de lo preparados que están para recibir a los turistas con los 
    brazos abiertos.</h3>
</div>

<footer>
  <section id="footer">
      <img class="margen2"  src="../image/jarronlogo.jpg" align=left >
      <div class="mover2" >
      <h3 class="color">Visitanos</h3>
      <a href="" target=""><h4 class="color" >Instagram</h4></a>
      <a href="" target=""><h4 class="color">Whatsaap</h4></a>
      <a href="" target=""><h4 class="color">Tiktok</h4></a>
      <a href="" target=""><h4 class="color">facebook</h4></a>
      <p class="color">Todos los derechos reservados © Visitando Cácota 2023</p>
      </div>
  </section>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
