<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="noindex, follow">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/estilos.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurantes</title>
</head>

<body>
  <div class="container-fluid bg-success">
<div class="contariner"  >
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="Index.html">Ruta del casique</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="TurismoN.html">Turismo de naturalza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="TurismoC.html">Turismo de cultura</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Hospedaje.html">Hospedajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Restaurate.html">Restaurantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="OtroS.html">Otros servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Ruta.html">Ruta turistica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Index.html"><img class="margen1" src="../image/jarronlogo.jpg" alt=""></a>
          </li>
      </div>
    </div>
  </nav>
</div>
</div>

<div class="row mt-5">
    <div class="col-4">
      <div class="card" style="width: 15rem; left: 70px;">
        <img src="../image/Restaurante/Restaurante bar1.jpeg" class="card-img-top" style="height: 160px; alt="...">
        <div class="card-body">
          <h5 class="card-title">Restaurante & Bar tequila</h5>
          <p class="card-text">
            Dirección: Cra 2#3-72 
            <p class="card-text">Celular: 3124748358</p>
           <a class="card-text" href="https://www.instagram.com/tequilacacota/?hl=es">Instagram: @tequilacacota</a>
          </p>
          <a href="https://www.google.com/maps/place/Cra.+2+%233-72,+C%C3%A1cota,+Norte+de+Santander/@7.2688764,-72.644004,17z/data=!3m1!4b1!4m5!3m4!1s0x8e6886207f8c28d3:0x1496aee9d2ca191b!8m2!3d7.2688711!4d-72.6418153?hl=es" class="btn btn-primary">Ir</a>
        </div>
      </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 15rem; left: 30px;">
            <img src="../image/Restaurante/Restaurante estacion1.jpeg" class="card-img-top" style="height: 132px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Estació casa vieja</h5>
              <p class="card-text">
                Dirección: Están ubicados en el Barrio La paz Carrera 2 #4-28
                <p class="card-text">Celular: 3138537063 – 3224238085</p>
                <p class="card-text">WhatsApp: 311 5004854</p>
                <a class="card-text" href="https://web.facebook.com/people/Estaci%C3%B3n-Casa-Vieja/100063630781784/?_rdc=1&_rdr">Facebook: Estación Casa Vieja</a>
              </p>
              <a href="https://www.google.com/maps/place/Cra.+2+%234-28,+C%C3%A1cota,+Norte+de+Santander/@7.2693198,-72.6440643,17z/data=!3m1!4b1!4m5!3m4!1s0x8e688620888580fd:0x62e72fb0af60b4ed!8m2!3d7.2693145!4d-72.6418756?hl=es" class="btn btn-primary">Ir</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 15rem; ">
            <img src="../image/hostales/Hospedaje1.jpeg" class="card-img-top" style="height: 150px; alt="...">
            <div class="card-body">
              <h5 class="card-title">Ortus res bar</h5>
              <p class="card-text">
                Dirección: VDA Matadelata previo el uvo              
                <p class="card-text">Celular: 3168644123</p>
               <a class="card-text" href="hhttps://www.instagram.com/ortunresbar/?hl=es">Instagram: @ortunresbar</a>
              </p>
              <a href="https://www.google.com/maps/place/Restaurante+-+bar+ortun/@7.2711811,-72.6426683,17z/data=!3m1!4b1!4m5!3m4!1s0x8e6887c0f68e7797:0x2d7dd46b90566f73!8m2!3d7.2712254!4d-72.6405002?hl=es" class="btn btn-primary">Ir</a>
            </div>
          </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-4">
        <div class="card" style="width: 15rem; left: 70px;">
            <img src="../image/Restaurante/Restaurante velazco1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Restaurante Velazco</h5>
              <p class="card-text">
                Dirección: Cl. 3 #3-89 9 a
                <p class="card-text">Celular: 3143679159</p>
                <p class="card-text">WhatsApp: 3209694136</p>
                <a class="card-text" href="https://web.facebook.com/profile.php?id=100064334821548">Facebook: Restaurante de velazco</a>
              </p>
              <a href="https://www.google.com/maps/place/Restaurante+De+Velazco/@7.268233,-72.6422348,19.72z/data=!4m5!3m4!1s0x8e68889e2e5eb201:0x8d612c88451db213!8m2!3d7.2680979!4d-72.6422291?hl=es" class="btn btn-primary">Ir</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 15rem; left: 30px;">
            <img src="../image/Restaurante/Restaurante cañaveral1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Restaurante Cañaveral</h5>
              <p class="card-text">
                Dirección: Se encuentra ubicado en la Cra. 2 #3-2, cabecera del parque principal
                <p class="card-text">Celular: 3118214202</p>
               <a class="card-text" href="https://www.instagram.com/hostal_canaveral_cacota/?hl=es">Instagram: @hostal_canaveral_cacota</a>
              </p>
              <a href="https://www.google.com/maps/place/Restaurante+ca%C3%B1averal/@7.2688353,-72.6422412,19z/data=!3m1!4b1!4m5!3m4!1s0x8e68874a7bb9c8fb:0x7741d5b64c43ac8d!8m2!3d7.2688173!4d-72.6417244?hl=es" class="btn btn-primary">Ir</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 15rem; ">
            <img src="../image/Restaurante/Restaurante cafe1.jpeg" class="card-img-top" style="height: 132px; alt="...">
            <div class="card-body">
              <h5 class="card-title">Café y broaster</h5>
              <p class="card-text">
                Dirección: Cácota #2-39               
                <p class="card-text">WhatsApp: 310 3049417</p>
               <a class="card-text" href="https://cafebroaster.negocio.site/">Sitio Web</a>
              </p>
              <a href="https://www.google.com/maps/place/Cafe+%26+Broaster/@7.2673401,-72.6443176,17z/data=!3m1!4b1!4m5!3m4!1s0x8e6889fd128317cd:0xc650caddb6477d62!8m2!3d7.2673339!4d-72.6421337?hl=es" class="btn btn-primary">Ir</a>
            </div>
          </div>
    </div>
</div>


<footer>
  <section id="footer">
      <img class="margen2"  src="../image/jarronlogo.jpg" align=left >
      <div class="mover2" >
      <h3 class="color">Visitanos</h3>
      <a href="" target=""><h4 class="color" >Instagram</h4></a>
      <a href="" target=""><h4 class="color">Whatsaap</h4></a>
      <a href="" target=""><h4 class="color">Tiktok</h4></a>
      <a href="" target=""><h4 class="color">facebook</h4></a>
      <p class="color">Todos los derechos reservados © Visitando Cácota 2023</p>
      </div>
  </section>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>